.section-about {
  position: relative;
}
.section-about-wrapper {
  display: grid;
  grid-template-columns: 1fr;

}
.section-about-description {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 6rem;
  margin-bottom: 2em;
  height: 100%;

}
.section-about-description h1 {
  display: block;
  font-size: 4rem;
  top: 0rem;
  position: absolute;
  top: 6rem;
  z-index: 100;
  .text-animate-hover {
    &:hover {
      color: var(--hover-color);
    }
  }
}
.progress__bar h1 {
  font-size: 1.3rem;
}


.contact-button {
  display: block;
  width: 100%;
  height: 50px;
  max-width: 200px;
  line-height: 50px;
  position: relative;
  margin: 50px 0;
  animation: fadeInAnimation 1s 1.8s backwards;
  white-space: nowrap;
}

.contact-button div {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 0 15px 0 15px;
}

.contact-button span.bg {
  width: 0%;
  height: 100%;
  position: absolute;
  left: -5%;
  top: 0;
  transform: skewX(-10deg);
  transition: all 0.3s linear;
}

.contact-button:hover span.bg {
  background: var(--color-tem);
  width: 110%;
  border-radius: 0 15px 0 15px;
}

.contact-button span.base {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 15px 0 15px;
  border: 1px solid var(--color-tem);
}

.contact-button span.text {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

.contact-button:hover span.text {
  color: #2d2b2b;
}

.submit-button {
  margin-top: 10px;
  background: transparent;
  border: none;
  outline: none;
  color: #8a8484;
  cursor: pointer;
  font-size: 1rem;
}

.submit-button:hover {
  color: #2d2b2b;
}
.about__me{
  width: 25rem;
  height: 25rem;
  border-radius: 2rem;
  background-color: var(--hover-color);
  position: absolute;
  left: 80rem;
  top: 10rem;

}

.about__me-image{
  border-radius: 2rem;
  overflow: hidden;
  overflow: hidden;
  object-fit: fill;
  transform: rotate(0deg);
  // bottom: 4rem;
  position: absolute;
  z-index: 100;
}

.about__me-image :hover{
  transform: rotate(10deg)
}

@media screen and (max-width: 1900px) {
  .section-about-description {
    grid-template-columns: 6fr 1fr;
    gap: 2rem;
  }
  .section-about-description h1{
    font-size: 6rem;
  }
  .section-about-description p{
    font-size: 2rem;
  }

}

@media screen and (max-width: 1024px) {
  .section-about-description {
    margin-top: 46rem;
    padding-top: 0;
  }
  .section-about h1{
    font-size: 14rem;
    top: 6rem;
  }
    .section-about-description p{
    font-size: 1.6rem;
    top: -1rem;
  }
  .section-about-description {
    grid-template-columns: 1fr 1fr;
  }
  .about__me{
    top: 16rem;
    left: 2rem;
    height: 5rem;
    width: 5rem;
  }
}

@media screen and (max-width: 980px) {
  .about-description-skills {
    grid-template-columns: repeat(4, 1fr);
  }
  .section-about-description {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .section-about-description h1 {
    font-size: 2.8rem;
  }
  .about-description-skills {
    grid-template-columns: repeat(3, 1fr);
  }
  .section-about-description {
    grid-template-columns: 1fr;
  }
    .section-about-description p{
    font-size: 1rem;
  }
    .about__me{
    height: 5rem;
    width: 10rem;
  }
}


@media screen and (max-width: 450px) {
  .section-about-description {
    grid-template-columns: 1fr;
  }
  .section-about-description h1 {
    font-size: 2rem;
  }
  .about-description-skills {
    grid-template-columns: repeat(1, 1fr);
  }
  .section-about-description p {
    font-size: 0.975rem;
  }
}
