.container {
  position: relative;
}

.download-button {
  display: block;
  width: 100%;
  height: 50px;
  max-width: 200px;
  line-height: 50px;
  position: absolute;
  top: 40rem;
  animation: fadeInAnimation 1s 1.8s backwards;
  white-space: nowrap;
}

.download-button div {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 0 15px 0 15px;
    z-index: 100;
  }
  
  .download-button span.bg {
    width: 0%;
    height: 100%;
    position: absolute;
    left: -5%;
    top: 0;
    transform: skewX(-10deg);
    transition: all 0.3s linear;
    z-index: 100;
  }
  
  .download-button:hover span.bg {
    background: var(--color-tem);
    width: 110%;
    border-radius: 0 15px 0 15px;
  }
  
  .download-button span.base {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 15px 0 15px;
    border: 1px solid var(--color-tem);
    z-index: 100;
  }
  
  .download-button span.text {
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 100;
  }
  
  .download-button:hover span.text {
    color: #2d2b2b;
  }
  
  .submit-button-download {
    margin-top: 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #8a8484;
    cursor: pointer;
    font-size: 1rem;
    z-index: 100;
  }
  
  .submit-button:hover {
    color: #2d2b2b;
  }

  .contact-button {
  display: block;
  width: 100%;
  height: 50px;
  max-width: 200px;
  line-height: 50px;
  position: relative;
  margin: 50px 0;
  animation: fadeInAnimation 1s 1.8s backwards;
  white-space: nowrap;
}
  .contact-button div {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 0 15px 0 15px;
    z-index: 100;
  }
  
  .contact-button span.bg {
    width: 0%;
    height: 100%;
    position: absolute;
    left: -5%;
    top: 0;
    transform: skewX(-10deg);
    transition: all 0.3s linear;
    z-index: 100;
  }
  
  .contact-button:hover span.bg {
    background: var(--color-tem);
    width: 110%;
    border-radius: 0 15px 0 15px;
  }
  
  .contact-button span.base {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 15px 0 15px;
    border: 1px solid var(--color-tem);
    z-index: 100;
  }
  
  .contact-button span.text {
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 100;
  }
  
  .contact-button:hover span.text {
    color: #2d2b2b;
  }
  
  .submit-button {
    margin-top: 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #8a8484;
    cursor: pointer;
    font-size: 1rem;
    z-index: 100;
  }
  
  .submit-button:hover {
    color: #2d2b2b;
  }

  .fake-big1 {
  display: block;
  font-size: 6rem;
  font-weight: bolder;
  position: absolute;
  top: 5rem;
  left: 55rem;
  padding: 4rem;
  color: rgba(65, 65, 65, 0.068);
  text-shadow: 2px 2px 4px 0 rgba(27, 26, 26, 0.5);
  user-select: none;
}
.section-1 {
  min-height: 120vh;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  position: relative;
}

.intro-page h1 {
  font-size: 6em;
  line-height: 6rem;
  letter-spacing: -1px;
  font-weight: 700;
  color: var(--color-tem);
  font-family: "Helvetica Neue", sans-serif;
  z-index: 100;
  position: absolute;
  top: 13rem;

}
.intro-page h2 {
  font-size: 4.5em;
  line-height: 6rem;
  letter-spacing: -1px;
  font-weight: 700;
  color: var(--color-tem);
  font-family: "Helvetica Neue", sans-serif;
  z-index: 100;
  position: absolute;
  top: 20rem;
}

.section-1 .text-desc {
  font-size: 4.5em;
  position: absolute;
  top: 32rem;
  letter-spacing: 2px;
  z-index: 100;
  // animation: fadeIn 1s 1.4s backwards;
  span{
    font-size: "1px";
    display: "inline-block";
  }
  .type-writer{
    color: var(--color-tem); 
  }
}

.scroll__wrapper {
  display: flex;
  place-items: center;
  transform: translate(80%, 80%);
  position: absolute;
  top: 30rem;
  left: 42rem;
  color: var(--color-tem);
  &::after {
    content: "scroll down";
    position: absolute;
    top: 16rem;
    left: 14rem;
  }
  display: none;
}
.scroll__down {
  font-size: 4rem;
  animation: scroll 2s ease-in alternate-reverse infinite;
  position: absolute;
  top: 17rem;
  left: 13rem;
}
.scroll__down:hover .scroll__wrapper::after {
  display: block;
}

@media screen and (min-width: 1200px) {
  .scroll__wrapper {
    display: block;
  }
}

@keyframes scroll {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

// @media screen and (max-height: 1600px){
//   .scroll__down .scroll__wrapper{
//     visibility: hidden;
//   }
// }
// @media screen and (min-width: 2000px) {
//   .intro-page h1 {
//     font-size: 10rem;
//     line-height: 9rem;
//     letter-spacing: -4px;
//   }
//   .intro-page h1 .home-logo {
//     width: 100px;
//   }
//   .section-1 .text-desc {
//     font-size: 1.5em;
//   }
// }

// extra large screens

@media screen and (max-width: 1900px) {
  .container{
    margin: 20rem 4rem -40rem 0;
  }
  .intro-page h1 {
    font-size: 8rem;
    line-height: 2rem;
    letter-spacing: -2px;
  }
  .intro-page h2{
    font-size: 6rem;
  }
  .section-1{
    height: 40vh;
  }
  .section-1 .text-desc {
    font-size: 2rem;
  }
}

// large screens

// @media screen and (max-width: 1024px) {
//   .container{
//     margin: 4rem 4rem -12rem 0;
//   }
//   .intro-page h1 {
//     font-size: 5.5rem;
//     line-height: 5rem;
//     letter-spacing: -2px;
//   }
//   .intro-page h2{
//     font-size: 4rem;
//   }
//   .intro-page h1 .home-logo {
//     width: 60px;
//   }
//   .section-1 .text-desc {
//     font-size: 1.3rem;
//   }

//   .contact-button {
//     max-width: 220px;
//     height: 50px;
//     line-height: 50px;
//   }
// }

// tablet screens || medium screens
@media screen and (max-width: 768px) {
    .container{
    margin: 0 4rem 10rem 0;
  }
  .section-1 {
    min-height: 100vh;
  }
  .intro-page h1 {
    font-size: 3.8rem;
    line-height: 9rem;
    letter-spacing: -2px;
  }
    .intro-page h2 {
    font-size: 2.8rem;
    line-height: 4rem;
    letter-spacing: -2px;
  }
  .intro-page h1 .home-logo {
    width: 50px;
  }
  .section-1 .text-desc {
    line-height: 2rem;
    font-size: 1rem;
    top: 31rem;
  }

  .contact-button {
    max-width: 170px;
    height: 50px;
    line-height: 50px;
  }
  .download-button{
    top: 34rem;
  }
  .section-1 .float-text {
    left: 20vw;
  }
}
@media screen and (max-width: 425px) {
  .container{
    margin: 0 4rem 0rem 0;

  .fake-big1 {
  display: block;
  font-size: 4rem;
  font-weight: bolder;
  position: absolute;
  top: 0rem;
  left: 5rem;
  padding: 4rem;
  color: rgba(65, 65, 65, 0.068);
  text-shadow: 2px 2px 4px 0 rgba(27, 26, 26, 0.5);
  user-select: none;
}
  }
  .section-1 {
    min-height: 100vh;
  }

  .section-1{
    margin-top: 6rem;
  }
  .intro-page h1 {
    font-size: 3rem;
    line-height: 2.3rem;
    letter-spacing: -1px;
  }
  .intro-page h2 {
    font-size: 2rem;
    line-height: 3rem;
    top: 16rem;
    letter-spacing: -1px;
  }

  .section-1 .text-desc {
    line-height: 2rem;
    font-size: 1rem;
    top: 23rem;
  }
    .download-button{
    top: 28rem;
  }
  .section-1 .text-desc {
  font-size: 2em;
  position: absolute;
  top: 22rem;
  letter-spacing: 2px;
  z-index: 100;
  width: 120%;
  // animation: fadeIn 1s 1.4s backwards;
  span{
    font-size: "1px";
    display: "inline-block";
  }
  .type-writer{
    color: var(--color-tem); 
  }
}
}

